@import "../../../../color.scss";

.scene-preview {
  font-family: "Nunito Sans Bold";
  font-size: 14px;
  color: $regularTextColor;

  ::ng-deep .mat-dialog-content {
    display: flex;
    flex-direction: row;
  }

  ::ng-deep .mat-dialog-title {
    display: flex;
    flex-direction: row;
  }

  .dialog-title {
    margin-bottom: 0;
  }

  .grayed {
    opacity: 0.5;
    color: #000;
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 20px;
  }

  .dialog-title-close {
    margin-left: auto;
    cursor: pointer;
  }

  .play-container {
    position: relative;
    margin: 0 auto 8px;

    .play-screen {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;

      .canvas-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        .canvas-fit {
          position: absolute;
          left: 0;
          top: 0;
        }

        .width-scale {
          width: 100%;
        }

        .height-scale {
          height: 100%;
        }
      }

      .cover-view-x {
        left: 50%;
        width: 50%;
      }

      .cover-view-y {
        height: 50%;
      }

      .logo-view {
        display: flex;
        align-items: center;
        justify-content: center;

        .canvas-fit {
          position: relative;
        }
      }

      .text-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        app-canvas-text {
          width: 100%;
          height: 100%;
          display: flex;
          position: absolute;
          flex-direction: column;
          align-items: flex-start;
          left: 0;
          top: 0;
        }
      }

      .text-cover-view-x {
          width: 50%;
      }

      .text-cover-view-y {
          height: 50%;
          top: 50%;
      }
    }

    .play-seek-bar {
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 8px;
      height: 40px;
      background-color: #fff;
      padding: 8px;

      .play {
        cursor: pointer;
      }

      .progress-wrapper {
        border-radius: 2px;
        height: 4px;
        background-color: #1a202c0c;
        position: relative;
        width: 100%;

        .progress {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: $primaryColor;
          border-radius: 2px;
        }
      }
    }

    &.news {
      width: 480px;
      height: 270px;
    }

    &.story {
      width: 270px;
      height: 480px;
    }

    &.carousel {
      width: 270px;
      height: 270px;
    }
  }

  .dialog-report {
    cursor: pointer;
    padding: 6px 14px;
    width: 88px;
    box-sizing: border-box;
    border: 1px solid $regularTextColor;
    opacity: 0.25;
    border-radius: 4px;
    font-family: "Nunito Sans Bold";
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $regularTextColor;
  }

  .dialog-close {
    cursor: pointer;
    padding: 6px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: $primaryColor;
    width: 88px;
    margin-left: auto;
  }
}
