<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
        <div class="scrollable-content" id="canvas-area">
            <app-canvas-pane
                class="animated fadeIn"
                *ngFor="let item of currentSlides" 
                [item]="item"
                (addSceneEvent)="onAddScene($event)"
                (addSubSceneEvent)="onAddSubScene($event)"
                (duplicateSceneEvent)="onDuplicateScene($event)"
                (removeSceneEvent)="onRemoveScene($event)"></app-canvas-pane>
        </div>
    </perfect-scrollbar>
</div>