<div class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 footer-wrapper">
                <ul class="footer-list">
                    <li><a href="">Explore</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <div class="copyright">
                    &copy; 2019 Sparka
                </div>
            </div>
        </div>
    </div>
</div>