<div class="template-container">
  <ul class="template-list">
    <li>
      <a routerLink="['/']">
        <img src="assets/images/slides/scene-1@2x.jpg">
      </a>
    </li>
    <li>
      <a routerLink="['/']">
        <img src="assets/images/slides/scene-1@2x.jpg">
      </a>
    </li>
    <li>
      <a routerLink="['/']">
        <img src="assets/images/slides/scene-1@2x.jpg">
      </a>
    </li>
    <li>
      <a routerLink="['/']">
        <img src="assets/images/slides/scene-1@2x.jpg">
      </a>
    </li>
    <li>
      <a routerLink="['/']">
        <img src="assets/images/slides/scene-1@2x.jpg">
      </a>
    </li>
  </ul>
</div>