
.template-container {

    & .template-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        & li {
            flex: 0 0 calc(50% - 8px);
            margin-top: 16px;

            & img {
                width: 100%;
            }
        }
    }
}