/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Nunito Sans Bold";
    src: url("assets/fonts/nunito-sans/nunito-sans-bold.eot");
    src: url("assets/fonts/nunito-sans/nunito-sans-bold.woff") format("woff"), url("assets/fonts/nunito-sans/nunito-sans-bold.svg") format("svg");
}

@font-face {
    font-family: "Nunito Sans";
    src: url("assets/fonts/nunito-sans/nunito-sans-regular.eot");
    src: url("assets/fonts/nunito-sans/nunito-sans-regular.woff") format("woff"), url("assets/fonts/nunito-sans/nunito-sans-regular.svg") format("svg");
}

body {
    margin: 0;
}

a, a:hover {
    text-decoration: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
